<template>
    <div class="check-email-outer-root">
        <div class="check-user-container">
            <span>Проверьте, не попал ли ваш адрес электронной почты в руки хакеров</span>
            <div class="input-container input-text">
                <input id="emailData" placeholder="Введите Email, например test@example.com" v-model="email" v-on:keydown.enter="isCheckBox">
                <button id="startLookForEmail" @click="isCheckBox"></button>
            </div>
            <div class="input-container input-checkbox">
                <input type="checkbox" id="selectOneSource" v-model="checkbox"><label for="selectOneSource">Искать в конкретном источнике</label>
                <select id="oneSourceSelect" v-model="option">
                    <option v-for="item in selects" v-if="item.Domain"> {{ item.Domain }} </option>
                </select>
            </div>
        </div>
        <div :is="elementToShow" :isEmailChecking="isEmailChecking" :jsonArray="jsonArray"></div>
    </div>
</template>

<script>
    import CheckEmailData from '../CheckEmailData/CheckEmailData.vue'
    import CheckEmailError from'../CheckEmailData/CheckEmailError.vue'
    import CheckEmailNotPwned from '../CheckEmailData/CheckEmailNotPwned.vue'
    import axios from '../../../../node_modules/axios'

    export default {
        name: "CheckEmailForm",
        data() {
            return {
                elementToShow: null,    // Какой элемент отобразить в блоке данных
                email: '',              // Инпут адреса
                emailToSearch: '',
                jsonArray: null,        // Данные
                checkbox: false,        // Чекбокс
                source: '',             // Фильтр по источнику
                selects: null,          // Массив для заполнения селекта
                option: '',             // Текущее значение в селекте
                isEmailChecking: 1      // Передается в CheckEmailData, указывает на тип запроса данных
            }
        },
        components: {
            CheckEmailData,
            CheckEmailError,
            CheckEmailNotPwned
        },
        created() {
            axios // Заполняем данными селект
                .get('https://haveibeenpwned.com/api/v2/breaches')
                .then(response => {this.selects = response.data;})
                .then(() => {this.option = this.selects[Object.keys(this.selects)[0]].Domain})
                .catch((error) => {console.error(error.responseText)})
        },
        methods: {
            isCheckBox() { // Проверяем нажатость чекбокса
                if(this.email.length > 0) {
                    if (this.checkbox) { // Если нажат
                        this.source = '&source=' + this.option // Берем значение из селекта и заполняем фильтр
                    } else {
                        this.source = ''
                    }
                    this.emailToSearch = this.email;
                    return this.chooseElement();
                }
            },
            chooseElement() {
                return axios // Определяем, какой элемент отобразить в блоке данных
                    .get('/src/server/server.php?key='+this.emailToSearch+''+this.source)
                    .then((response) => {this.jsonArray = response.data})
                    .then(() => {if(Object.keys(this.jsonArray).length > 0) {return this.elementToShow = 'check-email-data'} else {return this.elementToShow = 'check-email-not-pwned'}})
                    .catch(() => {return this.elementToShow = 'check-email-error'});
            }
        }
    }
</script>

<style scoped>
    .check-user-container {
        background: white;
        border: 1px solid gainsboro;
        border-radius: 3px;
        margin-top: 10px;
        padding: 10px;
    }
    .input-container {
        display: flex;
        height: 30px;
        margin-top: 10px;
        width: 100%;
    }
    .input-checkbox {
        align-items: center;
    }
    .input-checkbox select {
        margin-left: 10px;
    }
    .input-text {
        border: 1px solid gainsboro;
        border-radius: 3px;
    }
    #emailData {
        border: none;
        padding-left: 10px;
        width: 100%;
    }
    #startLookForEmail {
        background: #efefef url('../../../img/search.svg') 50% no-repeat;
        background-size: 25%;
        border: none;
        border-left: 1px solid gainsboro;
        cursor: pointer;
        width: 70px;
    }
    #startLookForEmail:hover {
        background-color: #e6e5e5;
    }
    @media (max-width: 500px) {
        .check-user-container {
            border-radius: 0;
        }
    }
</style>