<template>
    <div class="error-card">
        <span>Ошибка получения данных</span>
    </div>
</template>

<script>
    export default {
        name: "CheckEmailError"
    }
</script>

<style scoped>
    .error-card {
        background: #f74f4f;
        border-radius: 3px;
        color: white;
        display: flex;
        margin-top: 10px;
        padding: 10px;
    }
    @media (max-width: 500px) {
        .error-card {
            border-radius: 0;
        }
    }
</style>