<template>
    <div class="data-container">
        <div class="danger-title" v-if="isEmailChecking === '1'">
            <span>Ваш адрес обнаружен в украденных базах данных</span>
        </div>
        <article v-if="jsonArray" v-for="item in jsonArray" class="source-card">
        <div class="card-logo-side">
            <img v-bind:src="item.LogoPath">
        </div>
        <div class="card-text-side">
            <span class="card-title">{{ item.Title }}</span>
            <span class="card-description" v-html="item.Description"></span>
            <div class="compromised-data-list">
                <b>Compromised Data: </b>
                <span v-for="data in item.DataClasses"> {{ data }} </span>
            </div>
        </div>
    </article>
    </div>
</template>

<script>
    export default {
        name: "CheckEmailData",
        props: ['isEmailChecking', 'jsonArray'],
        data() {
            return {
                newArray: null
            }
        },
        mounted() {
            let tempArr = [];
            if(!this.isEmailChecking) { // Если компонент на странице со списком источников
                if (!Array.isArray(this.jsonArray)) { // И данные пришли не массивом
                    tempArr.push(this.jsonArray);     // Перегоняем в массив
                    return this.jsonArray = tempArr;
                }
            } else { // Если компонент на странице с проверкой адреса
                for (let key in this.jsonArray) {       // И данные пришли не массивом, значит пришел один результат по фильтру
                    tempArr.push(this.jsonArray[key]);  // Обрабатываем
                }
                return this.jsonArray = tempArr
            }
        }
    }
</script>

<style scoped>
    .card-description {
        margin-top: 20px;
    }
    .card-logo-side img {
        width: 150px;
    }
    .card-text-side {
        color: #d4d4d4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
    }
    .card-title {
        font-weight: bold;
    }
    .compromised-data-list {
        margin-top: 20px;
    }
    .danger-title {
        background: #f74f4f;
        border-radius: 3px;
        color: white;
        display: flex;
        margin-top: 10px;
        padding: 10px;
    }
    .source-card {
        background: #333333;
        border-radius: 3px;
        display: flex;
        margin-top: 10px;
        padding: 10px;
    }
    @media (max-width: 500px) {
        .danger-title {
            border-radius: 0;
        }
        .source-card {
            border-radius: 0;
            display: block;
        }
    }
</style>