<template>
    <div class="congrats-card">
        <span>Поздравляем, ваш адрес электронной почты в безопасности</span>
    </div>
</template>

<script>
    export default {
        name: "CheckEmailNotPwned"
    }
</script>

<style scoped>
    .congrats-card {
        background: #37bf3b;
        border-radius: 3px;
        color: white;
        display: flex;
        margin-top: 10px;
        padding: 10px;
    }
    @media (max-width: 500px) {
        .congrats-card {
            border-radius: 0;
        }
    }
</style>