<template>
    <div class="filter-container">
        <span>Фильтровать по домену</span>
        <div class="input-container">
            <input type="text" placeholder="Например, adobe.com" v-model="domain" v-on:keydown.enter="getData">
            <button @click="getData"></button>
        </div>
    </div>
</template>

<script>
    import filter from '../../server/filter.js'
    import axios from 'axios'

    export default {
        name: "FilterComponentDomain",
        data() {
            return {
                domain: '',
                jsonArray: null
            }
        },
        methods: {
            getData(data) {
                if(this.domain.length > 0) { // Если есть домен в запросе, то ищем по домену в АПИ
                    return axios
                        .get('https://haveibeenpwned.com/api/v2/breaches?domain='+this.domain)
                        .then((response) => (this.jsonArray = response.data))
                        .then(() => {filter.$emit('clearName', 'clearName')})
                        .then(() => {filter.$emit('filterSources', JSON.stringify(this.jsonArray))})
                        .catch((error) => {console.error(error.responseText)})
                } else { // Если нет, то берем целиком
                    return axios
                        .get('https://haveibeenpwned.com/api/v2/breaches')
                        .then((response) => (this.jsonArray = response.data))
                        .then(() => {filter.$emit('clearName', 'clearName')})
                        .then(() => {filter.$emit('filterSources', JSON.stringify(this.jsonArray))})
                        .catch((error) => {console.error(error.responseText)})
                }
            },
            clearInput() {
                return this.domain = ''
            }
        },
        mounted() {
            return filter.$on('clearDomain', this.clearInput)
        }
    }
</script>

<style scoped>
    .filter-container {
        border: 1px solid gainsboro;
        border-radius: 3px;
        padding: 10px;
        margin: 10px;
    }
    .input-container {
        border: 1px solid gainsboro;
        border-radius: 3px;
        display: flex;
        height: 30px;
        margin-top: 10px;
    }
    .input-container input {
        border: none;
        padding-left: 10px;
        width: 100%;
    }
    .input-container button {
        background: #efefef url('../../img/search.svg') 50% no-repeat;
        background-size: 25%;
        border: none;
        border-left: 1px solid gainsboro;
        cursor: pointer;
        width: 70px;
    }
    .input-container button:hover {
        background-color: #e6e5e5;
    }
</style>