<template>
    <div class="filter-container">
        <span>Фильтровать по имени</span>
        <div class="input-container">
            <input type="text" placeholder="Например, Adobe" v-model="name" v-on:keydown.enter="transformInput">
            <button @click="transformInput"></button>
        </div>
    </div>
</template>

<script>
    import filter from '../../server/filter.js'
    import axios from 'axios'

    export default {
        name: "FilterComponentName",
        data() {
            return {
                jsonArray: null,
                innerName: '',
                name: ''
            }
        },
        methods: {
            transformInput() { // Склеивание отдельных слов вместе и превращение русских букв в английские
                let query = this.name.split(' ').join('');
                query = query.toLowerCase();
                let cyr2latChars = new Array(
                    ['а', 'a'], ['б', 'b'], ['в', 'v'], ['г', 'g'],
                    ['д', 'd'],  ['е', 'e'], ['ё', 'yo'], ['ж', 'zh'], ['з', 'z'],
                    ['и', 'i'], ['й', 'i'], ['к', 'k'], ['л', 'l'],
                    ['м', 'm'],  ['н', 'n'], ['о', 'o'], ['п', 'p'],  ['р', 'r'],
                    ['с', 's'], ['т', 't'], ['у', 'u'], ['ф', 'f'],
                    ['х', 'h'],  ['ц', 'c'], ['ч', 'ch'],['ш', 'sh'], ['щ', 'shch'],
                    ['ъ', ''],  ['ы', 'y'], ['ь', ''],  ['э', 'e'], ['ю', 'yu'], ['я', 'ya'],

                    ['А', 'A'], ['Б', 'B'],  ['В', 'V'], ['Г', 'G'],
                    ['Д', 'D'], ['Е', 'E'], ['Ё', 'YO'],  ['Ж', 'ZH'], ['З', 'Z'],
                    ['И', 'I'], ['Й', 'I'],  ['К', 'K'], ['Л', 'L'],
                    ['М', 'M'], ['Н', 'N'], ['О', 'O'],  ['П', 'P'],  ['Р', 'R'],
                    ['С', 'S'], ['Т', 'T'],  ['У', 'U'], ['Ф', 'F'],
                    ['Х', 'H'], ['Ц', 'C'], ['Ч', 'CH'], ['Ш', 'SH'], ['Щ', 'SHCH'],
                    ['Ъ', ''],  ['Ы', 'Y'],
                    ['Ь', ''],
                    ['Э', 'E'],
                    ['Ю', 'YU'],
                    ['Я', 'YA'],

                    ['a', 'a'], ['b', 'b'], ['c', 'c'], ['d', 'd'], ['e', 'e'],
                    ['f', 'f'], ['g', 'g'], ['h', 'h'], ['i', 'i'], ['j', 'j'],
                    ['k', 'k'], ['l', 'l'], ['m', 'm'], ['n', 'n'], ['o', 'o'],
                    ['p', 'p'], ['q', 'q'], ['r', 'r'], ['s', 's'], ['t', 't'],
                    ['u', 'u'], ['v', 'v'], ['w', 'w'], ['x', 'x'], ['y', 'y'],
                    ['z', 'z'],

                    ['A', 'A'], ['B', 'B'], ['C', 'C'], ['D', 'D'],['E', 'E'],
                    ['F', 'F'],['G', 'G'],['H', 'H'],['I', 'I'],['J', 'J'],['K', 'K'],
                    ['L', 'L'], ['M', 'M'], ['N', 'N'], ['O', 'O'],['P', 'P'],
                    ['Q', 'Q'],['R', 'R'],['S', 'S'],['T', 'T'],['U', 'U'],['V', 'V'],
                    ['W', 'W'], ['X', 'X'], ['Y', 'Y'], ['Z', 'Z'],

                    [' ', '_'],['0', '0'],['1', '1'],['2', '2'],['3', '3'],
                    ['4', '4'],['5', '5'],['6', '6'],['7', '7'],['8', '8'],['9', '9'],
                    ['-', '-']

                );
                let newStr = new String();
                for (let i = 0; i < query.length; i++) {
                    let ch = query.charAt(i),
                        newCh = '';
                    for (let j = 0; j < cyr2latChars.length; j++) {
                        if (ch == cyr2latChars[j][0]) {
                            newCh = cyr2latChars[j][1];
                        }
                    }
                    newStr += newCh;
                }
                this.innerName = newStr.replace(/[_]{2,}/gim, '_').replace(/\n/gim, '');
                return this.getData();
            },
            getData(data) {
                if(this.innerName.length > 0) { // Если есть запрос в строке, то ищем в АПИ по этому запросу
                    return axios
                            .get('https://haveibeenpwned.com/api/v2/breach/'+this.innerName)
                            .then((response) => {this.jsonArray = []; this.jsonArray.push(response.data)})
                            .then(() => {filter.$emit('clearDomain', 'clearDomain')})
                            .then(() => {filter.$emit('filterSources', JSON.stringify(this.jsonArray))})
                            .catch((error) => {console.error(error.responseText)})

                } else { // Если запроса нет, то вытаскиваем все целиком
                    return axios
                        .get('https://haveibeenpwned.com/api/v2/breaches')
                        .then((response) => (this.jsonArray = response.data))
                        .then(() => {filter.$emit('clearDomain', 'clearDomain')})
                        .then(() => {filter.$emit('filterSources', JSON.stringify(this.jsonArray))})
                        .catch((error) => {console.log(error.responseText)})
                }
            },
            clearInput(data) {
                return this.name = ''
            }
        },
        mounted() {
            return filter.$on('clearName', this.clearInput)
        }
    }
</script>

<style scoped>
    .filter-container {
        border: 1px solid gainsboro;
        border-radius: 3px;
        padding: 10px;
        margin: 10px;
    }
    .input-container {
        display: flex;
        height: 30px;
        border: 1px solid gainsboro;
        border-radius: 3px;
        margin-top: 10px;
    }
    .input-container input {
        border: none;
        padding-left: 10px;
        width: 100%;
    }
    .input-container button {
        border: none;
        border-left: 1px solid gainsboro;
        background: #efefef url('../../img/search.svg') 50% no-repeat;
        background-size: 25%;
        cursor: pointer;
        width: 70px;
    }
    .input-container button:hover {
        background-color: #e6e5e5;
    }
</style>