<template>
   <div class="check-email-root">
      <CheckEmailForm />
   </div>
</template>

<script>
    import CheckEmailForm from './CheckEmailForm/CheckEmailForm.vue'

    export default {
        name: "CheckEmail",
        components: {
            CheckEmailForm
        }
    }
</script>

<style scoped>
   .check-email-root {
      width: 80%;
   }
   @media (max-width: 500px) {
      .check-email-root {
         width: 100%;
      }
   }
</style>