<template>
    <div class="sources-container">
        <CheckEmailData v-if="jsonArray" :jsonArray="jsonArray" :email="email" />
    </div>
</template>

<script>
    import CheckEmailData from '../../components/CheckEmail/CheckEmailData/CheckEmailData.vue'
    import axios from 'axios'
    import filter from '../../server/filter.js'

    export default {
        name: "SourceList",
        data() {
            return {
                jsonArray: null,
                email: ''
            }
        },
        components: {
            CheckEmailData
        },
        methods: {
            rebuildData(data) {
                return this.jsonArray = JSON.parse(data)
            }
        },
        created() { // Получаем первоначальные данные
            return axios
                .get('https://haveibeenpwned.com/api/v2/breaches')
                .then((response) => (this.jsonArray = response.data))
                .catch((error) => {console.error(error.responseText)})
        },
        mounted() { // Если что-то обновилось по ключу filterSources, обновляем данные
            return filter.$on('filterSources', this.rebuildData)
        }
    }
</script>

<style scoped>
    .sources-container {
        width: 80%;
    }
    @media (max-width: 500px) {
        .sources-container {
            width: 100%;
        }
    }
</style>