<template>
    <div class="main-menu">
        <div id="menu_component" class="menu-component" @click="getPath">
            <router-link to="/" replace>Проверить адрес</router-link>
            <router-link to="/sources" replace>Список источников</router-link>
        </div>
        <filter-component-name v-if="currentPath == allowedPath"></filter-component-name>
        <filter-component-domain v-if="currentPath == allowedPath"></filter-component-domain>
    </div>
</template>

<script>
    import FilterComponentName from './FilterComponent/FilterComponentName.vue'
    import FilterComponentDomain from './FilterComponent/FilterComponentDomain.vue'

    export default {
        name: "MainMenu",
        data () {
            return {
                allowedPath: '/sources',
                currentPath: this.$route.path
            }
        },
        components: {
            FilterComponentName,
            FilterComponentDomain
        },
        methods: {
            getPath () {
                 this.currentPath = this.$route.path;
            }
        }
    }
</script>

<style scoped>
    #menu_component {
        border: 1px solid gainsboro;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .menu-component a {
        color: black;
        cursor: pointer;
        padding: 10px;
        text-decoration: none;
    }
    .menu-component a:hover {
        background: #efefef;
    }
    .router-link-exact-active {
        background: gainsboro;
    }
</style>