<template>
  <div id="app">
    <aside class="left-side-container">
      <MainMenu />
    </aside>
    <aside class="right-side-container">
      <router-view></router-view>
    </aside>
  </div>
</template>

<script>
import MainMenu from './components/MainMenu.vue'

export default {
  name: 'app',
  components: {
    MainMenu
  }
}
</script>

<style>
  body {
    margin: 0;
  }
  #app {
    background: #efefef;
    display: flex;
    font-family: Tahoma;
    font-size: 13px;
    height: 100vh;
  }
  .left-side-container {
    background: white;
    border-right: 1px solid gainsboro;
    height: 100vh;
    min-width: 340px;
    width: 25%;
  }
  .right-side-container {
    overflow-y: auto;
    overflow-x: hidden;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 500px) {
    #app {
      display: block;
    }
    .left-side-container {
      height: auto;
      width: 100%;
    }
    .right-side-container {
      width: 100%;
    }
  }
</style>
